.wrapper{
    margin-left:2%;
    width:40%;
}
html {
  background: url("images/bg.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.card{
  border-style: solid; 
  border-radius: 1em;
  border-color: rgb(255, 255, 255); 
  background-color:rgb(255, 255, 255);
  color: hsl(216, 25%, 38%);
}
.card-title{
  color: hsl(216, 25%, 38%);
  text-align: center;
}