body {
    background-image: url('images/bg.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden; 
  }

.wrapper {
    max-width: 250px;
    min-height: 300px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: #ecf0f3;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.6);
  }

.product{
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
}

.item_detail{
    display: block;
    font-size: 20px;
    color:aliceblue;
    text-align: center;
}

.wrapper select{
    display: block;
    margin: auto;
}

.wrapper button{
    display: block;
    margin: auto;
}
