<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      href="{{ url_for('static', filename='css/cart.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Check Out</title>
  </head>
  <body>
    <div class="my-container">
      <!--HEADER-->

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">TeamName</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                >Teams <span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li><a href="/teams/womenfb">Women Football</a></li>
                <li><a href="/teams/menfb">Men Football</a></li>
                <li><a href="/teams/womenbb">Women Basketball</a></li>
                <li><a href="/teams/menbb">Men Basketball</a></li>
              </ul>
            </li>
            <li><a href="/fixtures">Fixtures</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/tickets">Tickets</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/honorsfb">Honors</a></li>
          </ul>
          <form class="navbar-form navbar-right" action="/action_page.php">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li>
              {%if user is none%}
              <a href="/login">
                <span class="glyphicon glyphicon-user"></span>
              </a>
              {%else%}
              <a href="/profile">
                <span class="glyphicon glyphicon-user"></span> {{user}}</a
              >
              {%endif%}
            </li>
          </ul>
        </div>
      </nav>
      <!--END OF HEADER-->

      <div class="my-2-container my-checkout-form">
        <div class="my-cart-container">
          <div class="my-header-cart">
            <h3 class="my-heading">Order Summary from Shop</h3> 
          </div>

         <!--FOR MILIA: place a for loop here for items in cart-->
          <div class="my-cart-items">
            <div class=”my-image-box”>
              <!--FOR MILIA: fill in product image-->
              <img class="my-product-image"src="{{url_for('static', filename='css/images/news/testimage.jpg')}}"/> 
            </div>
            <div class=”my-about”>
              <!--FOR MILIA:fill in product name, size,and price of 1 unit-->
              <h3 class=”my-title”>Product Name</h3>
              <h3 class=”my-subtitle”>Size: Size</h3>
              <h3 class=”my-subtitle”>Quantity: 2</h3>
              </div>
         
              <!--FOR MILIA: fill price with functionality to calculate price based on quantity-->
            <div class="my-money">
              <div class="my-money-one">$Price</div>
            </div>
          </div>

          <hr>
          <!--FOR MILIA: end the for loop here-->

          <div class="my-header-cart">
            <h3 class="my-heading">Order Summary from Booking</h3> 
          </div>
         <!--FOR MILIA: place a for loop here for items in cart-->
         <div class="my-cart-tickets">
          <div class=”my-image-box”>
            <!--FOR MILIA: fill in product image-->
            <img class="my-product-image"src="{{url_for('static', filename='css/images/news/testimage.jpg')}}"/> 
          </div>
          <div class=”my-about”>
              <!--FOR MILIA:fill in product name, size,and price of 1 unit-->
            <h3 class=”my-title”>Ticket T1 vs T2</h3>
            <h3 class=”my-subtitle”>Arena: Arena</h3>
            <h3 class=”my-subtitle”>Date: Date</h3>
            <h3 class=”my-subtitle”>Quantity: 2</h3>
          </div>
            <!--FOR MILIA: fill price with functionality to calculate price based on quantity-->
            <div class="my-money">
              <div class="my-money-one">$Price</div>
            </div>
        </div>

        <hr>
        <!--FOR MILIA: end the for loop here-->

          <!--FOR MILIA: Stop deleting. Don't delete the lines below-->
          <div class="my-checkout">
            <div class="my-total">
              <div class="my-side-sub">
                <div class="my-subtotal">Sub-Total</div>
                <!--FOR MILIA: fill number of items in cart-->
                <div class="my-items">2 items</div>
              </div>
                <!--FOR MILIA: fill total-->
              <div class="my-total-amount">${{total}}</div>
            </div>
            <div class="my-total">
              <div class="my-side-sub">
                <div class="my-subtotal">Shipping</div>
                <!--FOR MILIA: fill number of items in cart-->
                <div class="my-items">in USD</div>
              </div>
                <!--FOR MILIA: fill total-->
              <div class="my-total-amount">$cost</div>
            </div>
            <hr>
            <div class="my-total">
              <div class="my-side-sub">
                <div class="my-subtotal">Total</div>
                <!--FOR MILIA: fill number of items in cart-->
                <div class="my-items">in USD</div>
              </div>
                <!--FOR MILIA: fill total-->
              <div class="my-total-amount">$total</div>
            </div>
          </div>

        </div>
        <div class="my-cart-container">
          <div class="my-header-cart my-info">
            <h3 class="my-heading">Shipping Address</h3> 
            <hr class="hr-mod">
            <p>The items will be shipped to you in 3-5 business days. </p>
            <p>We apologize for any inconvenience but at the given moment we only accept cash on delivery.</p> 
          </div>
          <div class="shipping-form-div">
            <form action="">
              <label>Name</label>
              <input type="text" name="address-name" id="nameAd" value=""> 
              <label>Email</label>
              <input type="text" name="address-mail" id="mailAd" value="">  <!--ADD RESTRICTIONS HERE LATER-->
              <label>Phone Number</label>
              <input type="text" name="address-phone" id="phoneAd" value="">  <!--ADD RESTRICTIONS HERE LATER-->
              <label>Floor</label>
              <input type="number" name="address-floor" id="floorAd" value=""> 
              <label>Landmark</label>
              <input type="text" name="address-landmark" id="landmarkAd" value=""> 
              <label>Address</label>
              <textarea type="text" name="address-address" id="adAd" value=""> </textarea>
              <button type="button" class="btn btn-primary submit">Proceed</button>
            </form>
            <form action="" method="POST" autocomplete="off">
            <button type="button" class="btn btn-secondary my-continue" >Cancel Order</button>
            </form>
          </div>
         
          </div>

          
        </div>




      <!-- Footer -->
      <footer class="page-footer font-small blue">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
          © 2020 Copyright:
          <a href="/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
