<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Men's Football Team</title>

    <link
      href="{{ url_for('static', filename='css/teams.css') }}"
      rel="stylesheet"
      type="text/css"
    />

  </head>
  <body>
    <nav class="navbar navbar-inverse ">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="test.html">TeamName</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="HomePage.html">Home</a></li>
          <li class="dropdown" class="active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              >Teams <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="/teams/womenfb">Women Football</a></li>
              <li><a href="/teams/menfb">Men Football</a></li>
              <li><a href="/teams/womenbb">Women Basketball</a></li>
              <li><a href="/teams/menbb">Men Basketball</a></li>
            </ul>
          </li>
          <li><a href="/fixtures">Fixtures</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="#">Tickets</a></li>
          <li><a href="/shop">Shop</a></li>
          <li><a href="/community">Community</a></li>
          <li><a href="#">Honors</a></li>
        </ul>
        <form class="navbar-form navbar-right" action="/action_page.php">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" />
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li>
            {%if user is none%}
            <a href="/login">
              <span class="glyphicon glyphicon-user"></span> Profile</a
            >
            {%else%}
            <a href="/">
              <span class="glyphicon glyphicon-user"></span> {{user}}</a
            >
            {%endif%}
          </li>
        </ul>
      </div>
    </nav>

        <!-- HEADER DONE -->

        <h1> <strong>MEN'S FOOTBALL TEAM</strong></h1>

        <hr class="featurette-divider" />
    
        <img
          src="{{url_for('static', filename='css/images/teams/lebanonXI.jpg')}}"
          alt="Women's BasketBall Team"
          width="100%"
          height="100%"
          class="img-fluid"
        />
    
        <div class="group">
          <h2>GOALKEEPERS</h2>
    
          <hr class="featurette-divider" style="opacity: 0%" />
    
          <!--GOALKEEPERS IMAGES-->
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2 container">
              <img
                class="featurette-image img-fluid mx-auto image"
                alt="Player 1"
                src="{{url_for('static', filename='css/images/teams/leftBBPlayer.jpeg')}}"
                data-holder-rendered="true"
              />
              <div class="overlay">
                <div class="text">Get stats</div>
              </div>
            </div>
            
          </div>
      </div>
    
      <div class="group">
        <h2>DEFENDERS</h2>
    
        <hr class="featurette-divider" style="opacity: 0%" />
    
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 container">
            <img
              class="featurette-image img-fluid mx-auto image"
              alt="Player 1"
              src="{{url_for('static', filename='css/images/teams/leftBBPlayer.jpeg')}}"
              data-holder-rendered="true"
            />
            <div class="overlay">
              <div class="text">Get stats</div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="group">
        <h2>MIDFIELDERS</h2>
    
        <hr class="featurette-divider" style="opacity: 0%" />
    
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 container">
            <img
              class="featurette-image img-fluid mx-auto image"
              alt="Player 1"
              src="{{url_for('static', filename='css/images/teams/leftBBPlayer.jpeg')}}"
              data-holder-rendered="true"
            />
            <div class="overlay">
              <div class="text">Get stats</div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="group">
        <h2>FORWARDS</h2>
    
        <hr class="featurette-divider" style="opacity: 0%" />
    
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 container">
            <img
              class="featurette-image img-fluid mx-auto image"
              alt="Player 1"
              src="{{url_for('static', filename='css/images/teams/leftBBPlayer.jpeg')}}"
              data-holder-rendered="true"
            />
            <div class="overlay">
              <div class="text">Get stats</div>
            </div>
          </div>
        </div>
      </div>
        <hr class="featurette-divider" />
    
        <!-- FOOTER -->
        <div class="footer">
          <p>copyright information</p>
        </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>